/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-bg: #FF8DCB;
  --accent-text-color: #353430;
  --text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --accent-bg: #FF8DCB;
    --accent-text-color: #353430;
    --text-color: #353430;
  }
} 